/*-------- Select --------*/

.select-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    padding: 4px 24px 4px 4px;

    background-color: $sky;
    border-radius: 100px;

    &__title {
        font-size: 16px;
        font-family: $font-b;
        color: $black;
    }
}

.select {
    height: 64px;
    position: relative;

    &__button {
        display: flex;
        align-items: center;
        justify-content: space-between;

        width: 100%;
        height: 100%;

        padding: 0 20px;

        position: relative;
        font-family: $font-b;
        font-size: 16px;
        color: $black;

        background: $sky;
        border-radius: 100px;

        z-index: 2;

        transition: border-color 0.2s ease-out;
    }

    &__button-arrow {
        width: 24px;
        height: 24px;
        padding: 7px;
        margin-left: auto;
    }

    &__button-icon {
        margin-right: 12px;
    }

    &__list-wrapper {
        width: 100%;

        padding-top: 5px;
        padding-bottom: 5px;

        background: $sky;
        border-radius: 18px;
        box-shadow: 0 10px 14px 1px rgba(0, 0, 0, 0.3);

        position: absolute;
        top: 110%;
        left: 0;
        z-index: 5;

        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease-out;
    }

    &__list {
        max-height: 250px;

        padding-right: 0;
    }

    &.opened &__list-wrapper {
        opacity: 1;
        visibility: visible;
    }

    &__item:not(:first-child) {
        border-top: 1px solid rgba(232, 232, 232, 1);
    }

    &__item-button {
        display: flex;
        align-items: center;

        width: 100%;
        min-height: 50px;
        padding: 0 20px;

        font-family: $font-b;
        font-size: 16px;
        color: $black;

        transition: background-color 0.2s ease-out;
        text-align: left;
        line-height: 1.1;
    }

    &__item-button:hover {
        text-decoration: underline;
    }

    &__item-icon {
        margin-right: 12px;
    }
}

.select {

    &--v2 {
        width: 130px;
        height: 56px;
        position: static;
    }

    &--v2 &__button {
        padding: 0 12px;
        background-color: $black;
        font-size: 14px;
        color: #fff;
    }

    &--v2 &__button-icon {
        padding: 1px;
        margin-right: 10px;
        background-color: #fff;
        border-radius: 50%;
    }

    &--v2 &__button-arrow {
        flex-shrink: 0;
        margin-left: auto;
    }

    &--v2 &__list {
        margin-top: 24px;
    }

    &--v2 &__item:not(:first-child) {
        border: none;
    }

    &--v2 &__list-wrapper {
        width: 100%;
        padding: 24px 24px 0 24px;
        box-shadow: 0px 16px 32px rgba(14, 21, 44, 0.2);
        background-color: #fff;
    }

    &--v2 &__list-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    &--v2 &__list-title {
        font-family: $font-b;
        font-size: 20px;
    }

    &--v2 &__item-row {
        display: flex;
        justify-content: space-between;
    }

    &--v2 &__item-row:nth-child(2) {
        margin-top: 4px;
        opacity: 0.5;
        font-size: 12px;
    }

    &--v2 &__item-icon {
        width: 33px;
        height: 33px;
    }

    &--v2 &__item-column {
        width: 100%;
    }

    &--v2 &__item-button {
        padding: 0;
    }
}

@media (max-width: 479px) {


}
