@font-face {
    font-family: 'DM Sans Bold';
    src: url('subset-DMSans-Bold.woff2') format('woff2'),
        url('subset-DMSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'DM Sans';
    src: url('subset-DMSans-Regular.woff2') format('woff2'),
        url('subset-DMSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}