/*-------- Style --------*/

/*-------- Fonts --------*/
$font-r: "DM Sans";
$font-b: "DM Sans Bold";

/*-------- Colors --------*/
$black: #0E152C;
$orange: #EE973A;
$sky: #F0F7FD;
$green: #53F3C3;
$grass: #549EA4;

/*-------- Components --------*/
@import './components/components.scss';